
<div class="card" class="mt-3">
  <div class="card-header text-white bg-info">
    <h5>Liste de produits </h5>
  </div>
  <div class="card-body">

 <table class="table table-bordered table-striped">
   <thead>
     <tr>
       <th>Code</th>
       <th>Titre</th>
       <th>Prix Unitaire</th>
     </tr>
   </thead>
   <tbody>
     <tr  *ngFor="let p of data ">
       <td>{{p.code}}</td>
       <td><a [routerLink]="['/detail', p.code]"> {{p.titre}} </a></td>
       <td> {{p.prixUnitaire | currency:"EUR":"symbol"}}</td>
     </tr>

   </tbody>
 </table>
  </div>

</div>


