<form  #f="ngForm" (ngSubmit)="addProduit()">
  <div class="form-group ">
    <label for="code">Code du produit</label>
    <input type="text"
        class="form-control"
        id="code"  placeholder="Code du produit"
        name="code"
        [(ngModel)]= "produit.code"
        #code="ngModel"
        required
        >
    <div class="alert alert-danger" *ngIf="code.touched && code.invalid">
       Le code est obligatoire
    </div>
  </div>
  <div class="form-group ">
      <label for="titre">Titre du produit</label>
       <input type="text"
            class="form-control"
            id="titre"  placeholder="Titre du produit"
            name="titre"
            [(ngModel)]= "produit.titre"
            #titre="ngModel"
            required
            minlength="3"
        >
    <div class="alert alert-danger" *ngIf="titre.touched && titre.invalid">
        <div *ngIf="titre.errors.required"> Le titre est obligatoire</div>
        <div *ngIf="titre.errors.minlength"> La longueur doit être supérieure à 3</div>

    </div>
    </div>
    <div class="form-group ">
        <label for="prix">Prix du produit</label>
        <input type="number"
                class="form-control"
                id="prix"  placeholder="Prix du produit"
                name="prix"
                [(ngModel)]= "produit.prixUnitaire"
                #prix="ngModel"
                required
        >
      <div class="alert alert-danger" *ngIf="prix.touched && prix.invalid">
        Le prix est obligatoire
      </div>
    </div>

    <button type="submit" class="btn btn-primary"
               [disabled]= "!f.valid"> Créer le produit</button>
</form>
